/* style.css */
body {
    font-family: 'Courier New', Courier, monospace; /* Nastavení psacího fontu */
    background-color: #282a36;
    color: #f8f8f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: #44475a;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    width: 300px;
}

h1 {
    color: #ff79c6;
    margin-bottom: 20px;
    font-size: 24px;
}

.btn {
    background-color: #50fa7b;
    border: none;
    color: #282a36;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #8be9fd;
}

.password-display {
    font-size: 24px;
    background-color: #6272a4;
    padding: 15px;
    border-radius: 5px;
    color: #f8f8f2;
    word-wrap: break-word;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace; /* Použití psacího písma i pro heslo */
    letter-spacing: 1px; /* Mírné zjednodušení pro lepší čitelnost */
}
